<div class="fabricate-component-manager">

    <div class="fabricate-component-manager-title">
        <div class="fabricate-component-image">
            <img src="{{component.imageUrl}}"/>
        </div>

        <h2 class="fabricate-component-name">{{component.name}}</h2>
    </div>

    <div class="fabricate-component-essence-editor">
        <h3>{{localize "fabricate.ComponentManagerApp.essences.title"}}</h3>
        <p>{{localize "fabricate.ComponentManagerApp.essences.instructions"}}</p>
        <div class="fabricate-component-list">
            {{#each component.essences}}
                <div class="fabricate-essence" data-tooltip="{{essence.tooltip}}" data-essence-id="{{essence.id}}"
                     data-component-id="{{../component.id}}" data-action="editComponentEssence">
                    <span>{{amount}} <i class="{{essence.iconCode}}"></i> {{essence.name}}</span>
                </div>
            {{/each}}
        </div>
    </div>


    <div class="fabricate-component-salvage-editor">
        <h3>{{localize "fabricate.ComponentManagerApp.salvage.title"}}</h3>
        <p>{{localize "fabricate.ComponentManagerApp.salvage.instructions"}}</p>
        <div class="fabricate-component-list">
            {{#each component.salvage}}
                <div class="fabricate-component fabricate-component-salvage-choice" data-salvage-id="{{component.id}}"
                     data-tooltip="{{component.name}}" data-component-id="{{../component.id}}"
                     data-action="editComponentSalvage">
                    <img src="{{component.imageUrl}}">
                    <div class="fabricate-info">
                        <span class="fabricate-detail">{{amount}}</span>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>

</div>