<form>

    <div class="form-group">
        <label for="name">{{localize "fabricate.CreateCraftingSystemDialog.name.label"}}</label>
        <div class="form-fields">
            <input type="text" name="name" placeholder="{{localize "fabricate.CreateCraftingSystemDialog.name.placeholder"}}" value="{{name}}" autofocus="">
        </div>
    </div>

    <div class="form-group">
        <label for="summary">{{localize "fabricate.CreateCraftingSystemDialog.summary.label"}}</label>
        <div class="form-fields">
            <textarea name="summary" rows="3" cols="50" placeholder="{{localize "fabricate.CreateCraftingSystemDialog.summary.placeholder"}}"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="description">{{localize "fabricate.CreateCraftingSystemDialog.description.label"}}</label>
        <div class="form-fields">
            <textarea name="description" rows="10" cols="50" placeholder="{{localize "fabricate.CreateCraftingSystemDialog.description.placeholder"}}"></textarea>
        </div>
    </div>

    <button type="submit"><i class="fa-regular fa-circle-check"></i> {{localize "fabricate.CreateCraftingSystemDialog.submit"}}</button>

</form>