<div class="journal-sheet-container fabricate-crafting-system-manager">

    <aside class="sidebar directory flexcol">

        <header class="directory-header">
            <div class="header-search flexrow flex0">
                <input type="text" name="search" value="" autocomplete="off" placeholder="{{localize "fabricate.CraftingSystemManagerApp.sidebar.search"}}">
            </div>
        </header>

        <nav class="pages-list" aria-label="Journal Entry Table of Contents" data-tooltip-direction="RIGHT">
            <ul class="directory-list scrollable">
                {{#each craftingSystems}}
                <li class="directory-item level1">
                    <div class="fabricate-crafting-system {{#ifEquals id ../selectedSystem.id}}selected{{/ifEquals}}" data-system-id="{{id}}">
                        <span class="page-title fabricate-crafting-system-name">{{name}}</span>
                        <p class="fabricate-crafting-system-summary">{{summary}}</p>
                    </div>
                </li>
                {{/each}}
            </ul>
        </nav>

        <div class="directory-footer">
            <div class="action-buttons flexrow flex0">
                <button class="fabricate-create-crafting-system" type="button" data-action="createCraftingSystem">
                    <i class="fa-solid fa-circle-plus"></i> {{localize "fabricate.CraftingSystemManagerApp.sidebar.create"}}
                </button>
            </div>

            <div class="action-buttons flexrow flex0">
                <button class="fabricate-import-crafting-system" type="button" data-action="importCraftingSystem">
                    <i class="fa-solid fa-file-import"></i></i> {{localize "fabricate.CraftingSystemManagerApp.sidebar.import"}}
                </button>
            </div>
        </div>

    </aside>

    <section class="journal-entry-content flexcol fabricate-crafting-system-editor" style="overflow: scroll;">

        {{#if selectedSystem}}

            <div class="fabricate-crafting-system-details" data-crafting-system-id="{{selectedSystem.id}}">

                {{#if selectedSystem.locked}}
                    {{> readOnlySystem system=selectedSystem}}
                {{else}}
                    {{> editableSystem system=selectedSystem}}
                {{/if}}

            </div>

        {{else}}

            <div class="flexrow flex3"></div>
            <div class="flexrow flex3">
                <p class="fabricate-no-system-selected">No crafting system selected.<br/>Create a new system or select one from the left menu.</p>
            </div>

        {{/if}}

    </section>


</div>