<div class="fabricate-item-tab-wrapper">
    <div class="fabricate-item-tab-header">
        <div class="fabricate-title">
            Crafting
        </div>
        {{#if owned}}
            <span class="fabricate-item-condition fabricate-info" data-tooltip="Owned by {{actor.name}}"><i class="fa-solid fa-user"></i></span>
        {{else}}
            <span class="fabricate-item-condition fabricate-warning" data-tooltip="Not owned"><i class="fa-solid fa-user-slash"></i></span>
        {{/if}}
        <div class="fabricate-tag-list fabricate-inline-list fabricate-align-right">
            {{#each systems}}
                <span class="fabricate-tag fabricate-list-item fabricate-clickable {{#if visible}}fabricate-selected{{/if}}" data-action="toggleSystemParts" data-system-id="{{system.id}}">{{system.name}}</span>
            {{/each}}
        </div>
    </div>
    {{#each systems}}
        {{#if visible}}
            {{#if recipe}}
                <div class="fabricate-item-detail">
                    <div class="fabricate-item-header-outer">
                        <div class="fabricate-item-header">
                            <div class="fabricate-item-title">
                                {{localize "fabricate.partTypes.recipe"}}
                            </div>
                            <div class="fabricate-item-conditions fabricate-inline-list fabricate-align-right">
                                <span class="fabricate-item-condition fabricate-list-item" data-tooltip="Part of {{system.name}}"><i class="fa-solid fa-pen-ruler"></i></span>
                                {{#if craftable}}
                                    <span class="fabricate-item-condition fabricate-info fabricate-list-item" data-tooltip="Can be crafted"><i class="fa-solid fa-hammer"></i></span>
                                {{else}}
                                    <span class="fabricate-item-condition fabricate-warning fabricate-list-item" data-tooltip="Cannot be crafted"><i class="fa-solid fa-xmark"></i></span>
                                {{/if}}
                                {{#if ../isGm}}
                                    <span class="fabricate-item-condition fabricate-info fabricate-list-item fabricate-clickable" data-action="editRecipe" data-recipe-id="{{recipe.id}}" data-tooltip="{{localize "fabricate.ItemSheetTab.buttons.edit.tooltip"}}"><i class="fa-solid fa-pen-to-square"></i></span>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    <div class="fabricate-columns">
                        <div class="fabricate-column fabricate-recipe-ingredients">
                            <div class="fabricate-ingredients-header fabricate-row">
                                Ingredients
                            </div>
                            {{#each recipe.ingredientOptions.choices}}
                                {{#if ../recipe.hasIngredientOptions}}
                                    {{#if ../craftable}}
                                        <div class="fabricate-choice-header fabricate-row {{#if selected}}fabricate-selected{{/if}}">
                                            <div class="fabricate-choice-name">{{localize "fabricate.ItemSheetTab.ingredients.optionName"}} {{id}}</div>
                                            <div class="fabricate-select-button" data-action="selectIngredientOption" data-option-id="{{id}}">{{localize "fabricate.ItemSheetTab.ingredients.selectOption"}}</div>
                                        </div>
                                    {{/if}}
                                {{/if}}
                                {{#each value.units}}
                                    <div class="fabricate-component fabricate-row">
                                        <div class="fabricate-component-image">
                                            <img src="{{part.imageUrl}}">
                                        </div>
                                        <div class="fabricate-component-detail">{{quantity}} {{part.name}}</div>
                                    </div>
                                {{/each}}
                            {{else}}
                                <div class="fabricate-no-ingredients">No ingredients</div>
                            {{/each}}
                        </div>
                        <div class="fabricate-column fabricate-recipe-results">

                        </div>
                    </div>
                </div>
            {{/if}}
        {{/if}}
    {{/each}}
</div>