<header class="fabricate-crafting-system-header">
    <button class="fabricate-edit-details" type="button" data-action="editDetails" data-system-id="{{system.id}}" data-tooltip="{{localize "fabricate.CraftingSystemManagerApp.editor.editDetails"}}">
        <i class="fa-solid fa-pen-to-square" style="pointer-events: none"></i>
    </button>
    <h1>{{system.name}}</h1>
    <h4>{{system.author}}</h4>
    <h4>{{system.summary}}</h4>
    <hr/>
    <h4>{{localize "fabricate.CraftingSystemManagerApp.editor.description.label"}}:</h4>
    {{#if system.description}}
        <p>{{system.description}}</p>
    {{else}}
        <p>{{localize "fabricate.CraftingSystemManagerApp.editor.description.noValue"}}</p>
    {{/if}}
</header>

<hr/>

<div class="fabricate-system-toggle">
    <form>
        <div class="form-group">
            <label for="enabled">{{localize "fabricate.CraftingSystemManagerApp.editor.enabled.label"}}</label>
            <div class="form-fields">
                <input name="enabled" type="checkbox" {{#if system.enabled}}checked{{/if}} data-action="toggleSystemEnabled" data-system-id="{{system.id}}">
            </div>
        </div>
        <div class="form-group"><p>{{localize "fabricate.CraftingSystemManagerApp.editor.enabled.description"}}</p></div>
    </form>
</div>

<hr/>

<nav class="pages-list tabs fabricate-crafting-system-navigation" data-group="primary-tabs" aria-label="Crafting System Elements">
    <a class="item" data-tab="components">{{localize "fabricate.CraftingSystemManagerApp.tabs.components.title"}}</a>
    <a class="item" data-tab="recipes">{{localize "fabricate.CraftingSystemManagerApp.tabs.recipes.title"}}</a>
    <a class="item" data-tab="checks">{{localize "fabricate.CraftingSystemManagerApp.tabs.checks.title"}}</a>
    <a class="item" data-tab="essences">{{localize "fabricate.CraftingSystemManagerApp.tabs.essences.title"}}</a>
    <a class="item" data-tab="alchemy">{{localize "fabricate.CraftingSystemManagerApp.tabs.alchemy.title"}}</a>
</nav>

<section class="fabricate-crafting-system-body content">
    <div class="tab" data-group="primary-tabs" data-tab="components">
        {{> componentsTab}}
    </div>
    <div class="tab active" data-group="primary-tabs" data-tab="recipes">
        {{> recipesTab}}
    </div>
    <div class="tab" data-group="primary-tabs" data-tab="checks">
        {{> checksTab}}
    </div>
    <div class="tab" data-group="primary-tabs" data-tab="essences">
        {{> essencesTab}}
    </div>
    <div class="tab" data-group="primary-tabs" data-tab="alchemy">
        {{> alchemyTab}}
    </div>
</section>