<header class="fabricate-crafting-system-header">
    <button class="fabricate-edit-details" type="button" data-action="editDetails" data-system-id="{{system.id}}" data-tooltip="{{localize "fabricate.CraftingSystemManagerApp.editor.editDetails"}}">
        <i class="fa-solid fa-pen-to-square" style="pointer-events: none"></i>
    </button>
    <h1>{{system.name}}</h1>
    <h4>{{system.summary}}</h4>
    <hr/>
    <h4>{{localize "fabricate.CraftingSystemManagerApp.editor.description.label"}}:</h4>
    {{#if system.description}}
        <p>{{system.description}}</p>
    {{else}}
        <p>{{localize "fabricate.CraftingSystemManagerApp.editor.description.noValue"}}</p>
    {{/if}}
</header>

<hr/>

<div class="fabricate-system-toggle">
    <form>
        <div class="form-group">
            <label for="enabled">{{localize "fabricate.CraftingSystemManagerApp.editor.enabled.label"}}</label>
            <div class="form-fields">
                <input name="enabled" type="checkbox" {{#if system.enabled}}checked{{/if}} data-action="toggleSystemEnabled" data-system-id="{{system.id}}">
            </div>
        </div>
        <div class="form-group"><p>{{localize "fabricate.CraftingSystemManagerApp.editor.enabled.description"}}</p></div>
    </form>
</div>

<hr/>

<nav data-group="fabricate" class="fabricate-crafting-system-navigation tabs">
    <a class="item active" data-tab="recipes">Recipes</a>
    <a class="item" data-tab="components">Components</a>
    <a class="item" data-tab="essences">Essences</a>
    <a class="item" data-tab="alchemy">Alchemy</a>
    <a class="item" data-tab="checks">Checks</a>
</nav>
<section class="fabricate-crafting-system-body">
    <div class="tab active" data-group="fabricate" data-tab="recipes">
        <div class="fabricate-recipes">
            <div class="fabricate-create-recipe" data-action="createRecipe">
                <i class="fa-solid fa-circle-plus" style="pointer-events: none"></i> Create a recipe
            </div>
            <table class="fabricate-item-table">
                <thead class="fabricate-item-table-header">
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Produces</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="fabricate-item-table-body">
                    <tr class="fabricate-item-table-row">
                        <td class="fabricate-item-image">
                            <img src="icons/sundries/documents/blueprint-recipe-magic.webp" data-action="editRecipe">
                        </td>
                        <td class="fabricate-item-name">
                            Recipe name
                        </td>
                        <td>
                            <div class="fabricate-inline-component-list">
                                <div class="fabricate-component" data-tooltip="Component Name">
                                    <img src="/icons/commodities/materials/bowl-liquid-red.webp">
                                    <div class="fabricate-info">
                                        <span class="fabricate-detail">3</span>
                                    </div>
                                </div>
                                <div class="fabricate-component" data-tooltip="Component Name">
                                    <img src="/icons/commodities/materials/bowl-liquid-red.webp">
                                    <div class="fabricate-info">
                                        <span class="fabricate-detail">3</span>
                                    </div>
                                </div>
                                <div class="fabricate-component" data-tooltip="Component Name">
                                    <img src="/icons/commodities/materials/bowl-liquid-red.webp">
                                    <div class="fabricate-info">
                                        <span class="fabricate-detail">3</span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="fabricate-edit-item">
                            <button type="button" data-action="editRecipe" data-recipe-id="recipe-id" data-tooltip="Edit recipe">
                                <i class="fa-solid fa-pen-to-square" style="pointer-events: none"></i>
                            </button>
                            <button type="button" data-action="deleteRecipe" data-recipe-id="recipe-id" data-tooltip="Delete recipe">
                                <i class="fa-solid fa-trash" style="pointer-events: none"></i>
                            </button>
                        </td>
                    </tr>
                    <tr class="fabricate-item-table-row">
                        <td class="fabricate-item-image">
                            <img src="icons/sundries/documents/blueprint-recipe-magic.webp" data-action="editRecipe">
                        </td>
                        <td class="fabricate-item-name">
                            Recipe name
                        </td>
                        <td>
                            <div class="fabricate-inline-component-list">
                                <div class="fabricate-component" data-tooltip="Component Name">
                                    <img src="/icons/commodities/materials/bowl-liquid-red.webp">
                                    <div class="fabricate-info">
                                        <span class="fabricate-detail">3</span>
                                    </div>
                                </div>
                                <div class="fabricate-component" data-tooltip="Component Name">
                                    <img src="/icons/commodities/materials/bowl-liquid-red.webp">
                                    <div class="fabricate-info">
                                        <span class="fabricate-detail">3</span>
                                    </div>
                                </div>
                                <div class="fabricate-component" data-tooltip="Component Name">
                                    <img src="/icons/commodities/materials/bowl-liquid-red.webp">
                                    <div class="fabricate-info">
                                        <span class="fabricate-detail">3</span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="fabricate-edit-item">
                            <button type="button" data-action="editRecipe" data-recipe-id="recipe-id" data-tooltip="Edit recipe">
                                <i class="fa-solid fa-pen-to-square" style="pointer-events: none"></i>
                            </button>
                            <button type="button" data-action="deleteRecipe" data-recipe-id="recipe-id" data-tooltip="Delete recipe">
                                <i class="fa-solid fa-trash" style="pointer-events: none"></i>
                            </button>
                        </td>
                    </tr>
                    <tr class="fabricate-item-table-row">
                        <td class="fabricate-item-image">
                            <img src="icons/sundries/documents/blueprint-recipe-magic.webp"  data-action="editRecipe">
                        </td>
                        <td class="fabricate-item-name">
                            Recipe name
                        </td>
                        <td>
                            <div class="fabricate-inline-component-list">
                                <div class="fabricate-component" data-tooltip="Component Name">
                                    <img src="/icons/commodities/materials/bowl-liquid-red.webp">
                                    <div class="fabricate-info">
                                        <span class="fabricate-detail">3</span>
                                    </div>
                                </div>
                                <div class="fabricate-component" data-tooltip="Component Name">
                                    <img src="/icons/commodities/materials/bowl-liquid-red.webp">
                                    <div class="fabricate-info">
                                        <span class="fabricate-detail">3</span>
                                    </div>
                                </div>
                                <div class="fabricate-component" data-tooltip="Component Name">
                                    <img src="/icons/commodities/materials/bowl-liquid-red.webp">
                                    <div class="fabricate-info">
                                        <span class="fabricate-detail">3</span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="fabricate-edit-item">
                            <button type="button" data-action="editRecipe" data-recipe-id="recipe-id" data-tooltip="Edit recipe">
                                <i class="fa-solid fa-pen-to-square" style="pointer-events: none"></i>
                            </button>
                            <button type="button" data-action="deleteRecipe" data-recipe-id="recipe-id" data-tooltip="Delete recipe">
                                <i class="fa-solid fa-trash" style="pointer-events: none"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab" data-group="fabricate" data-tab="components">
        <div class="fabricate-components">
            <div class="fabricate-create-component" data-action="createComponent">
                <i class="fa-solid fa-circle-plus" style="pointer-events: none"></i> Add a component
            </div>
            <div class="fabricate-component-list">
                <div class="fabricate-component">
                    <div class="fabricate-info">
                        <span class="fabricate-button" data-tooltip="Delete" data-action="deleteComponent"><i class="fa-solid fa-xmark" style="pointer-events: none"></i></span>
                        <span class="fabricate-button" data-tooltip="Edit" data-action="editComponent"><i class="fa-solid fa-pen-to-square" style="pointer-events: none"></i></span>
                    </div>
                    <span class="fabricate-component-name">Component name</span>
                    <img src="/icons/commodities/materials/bowl-liquid-red.webp" data-action="editComponent">
                </div>
                <div class="fabricate-component">
                    <div class="fabricate-info">
                        <span class="fabricate-button" data-tooltip="Delete" data-action="deleteComponent"><i class="fa-solid fa-xmark" style="pointer-events: none"></i></span>
                        <span class="fabricate-button" data-tooltip="Edit" data-action="editComponent"><i class="fa-solid fa-pen-to-square" style="pointer-events: none"></i></span>
                    </div>
                    <span class="fabricate-component-name">Component name</span>
                    <img src="/icons/commodities/materials/bowl-liquid-red.webp" data-action="editComponent">
                </div>
                <div class="fabricate-component">
                    <div class="fabricate-info">
                        <span class="fabricate-button" data-tooltip="Delete" data-action="deleteComponent"><i class="fa-solid fa-xmark" style="pointer-events: none"></i></span>
                        <span class="fabricate-button" data-tooltip="Edit" data-action="editComponent"><i class="fa-solid fa-pen-to-square" style="pointer-events: none"></i></span>
                    </div>
                    <span class="fabricate-component-name">Component name</span>
                    <img src="/icons/commodities/materials/bowl-liquid-red.webp" data-action="editComponent">
                </div>
            </div>
        </div>
    </div>
    <div class="tab" data-group="fabricate" data-tab="essences">
        <button type="submit"><i class="fa-solid fa-circle-plus" data-action="createEssence" data-system-id="1"></i> Create an Essence</button>
        <table class="fabricate-item-table">
            <thead class="fabricate-item-table-header">
                <tr>
                    <th>Preview</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="fabricate-item-table-body">
                <tr class="fabricate-item-table-row">
                    <td class="fabricate-essence-preview"><i class="fa-solid fa-mortar-pestle" data-tooltip="Tooltip text"></i></td>
                    <td>Essence name</td>
                    <td>Essence description</td>
                    <td class="fabricate-edit-item">
                        <button type="button" data-action="editEssence" data-recipe-id="essence-id" data-tooltip="Edit essence">
                            <i class="fa-solid fa-pen-to-square" style="pointer-events: none"></i>
                        </button>
                        <button type="button" data-action="deleteEssence" data-recipe-id="essence-id" data-tooltip="Delete essence">
                            <i class="fa-solid fa-trash" style="pointer-events: none"></i>
                        </button>
                    </td>
                </tr>
                <tr class="fabricate-item-table-row">
                    <td class="fabricate-essence-preview"><i class="fa-solid fa-mortar-pestle" data-tooltip="Tooltip text"></i></td>
                    <td>Essence name</td>
                    <td>Essence description</td>
                    <td class="fabricate-edit-item">
                        <button type="button" data-action="editEssence" data-recipe-id="essence-id" data-tooltip="Edit essence">
                            <i class="fa-solid fa-pen-to-square" style="pointer-events: none"></i>
                        </button>
                        <button type="button" data-action="deleteEssence" data-recipe-id="essence-id" data-tooltip="Delete essence">
                            <i class="fa-solid fa-trash" style="pointer-events: none"></i>
                        </button>
                    </td>
                </tr>
                <tr class="fabricate-item-table-row">
                    <td class="fabricate-essence-preview"><i class="fa-solid fa-mortar-pestle" data-tooltip="Tooltip text"></i></td>
                    <td>Essence name</td>
                    <td>Essence description</td>
                    <td class="fabricate-edit-item">
                        <button type="button" data-action="editEssence" data-recipe-id="essence-id" data-tooltip="Edit essence">
                            <i class="fa-solid fa-pen-to-square" style="pointer-events: none"></i>
                        </button>
                        <button type="button" data-action="deleteEssence" data-recipe-id="essence-id" data-tooltip="Delete essence">
                            <i class="fa-solid fa-trash" style="pointer-events: none"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tab" data-group="fabricate" data-tab="alchemy">
        Alchemy
    </div>
    <div class="tab" data-group="fabricate" data-tab="checks">
        Checks
    </div>
</section>