<header class="fabricate-crafting-system-header">
    <button class="fabricate-edit-details" type="button" data-action="editDetails" data-system-id="{{system.id}}" data-tooltip="{{localize "fabricate.CraftingSystemManagerApp.editor.editDetails"}}">
        <i class="fa-solid fa-pen-to-square" style="pointer-events: none"></i>
    </button>
    <h1>{{system.name}}</h1>
    <h4>{{system.summary}}</h4>
    <hr/>
    <h4>{{localize "fabricate.CraftingSystemManagerApp.editor.description.label"}}:</h4>
    {{#if system.description}}
        <p>{{system.description}}</p>
    {{else}}
        <p>{{localize "fabricate.CraftingSystemManagerApp.editor.description.noValue"}}</p>
    {{/if}}
</header>

<hr/>

<div class="fabricate-system-toggle">
    <form>
        <div class="form-group">
            <label for="enabled">{{localize "fabricate.CraftingSystemManagerApp.editor.enabled.label"}}</label>
            <div class="form-fields">
                <input name="enabled" type="checkbox" {{#if system.enabled}}checked{{/if}} data-action="toggleSystemEnabled" data-system-id="{{system.id}}">
            </div>
        </div>
        <div class="form-group"><p>{{localize "fabricate.CraftingSystemManagerApp.editor.enabled.description"}}</p></div>
    </form>
</div>
<hr/>