<div class="fabricate-essences">
    <p>{{localize "fabricate.CraftingSystemManagerApp.tabs.essences.description"}}</p>
    <button type="submit" data-action="createEssence" data-system-id="{{system.id}}">
        <i class="fa-solid fa-circle-plus" style="pointer-events: none"></i> {{localize "fabricate.CraftingSystemManagerApp.tabs.essences.create"}}
    </button>
    <table class="fabricate-item-table">
        <thead class="fabricate-item-table-header">
        <tr>
            <th>{{localize "fabricate.CraftingSystemManagerApp.tabs.essences.tableHeadings.preview"}}</th>
            <th>{{localize "fabricate.CraftingSystemManagerApp.tabs.essences.tableHeadings.name"}}</th>
            <th>{{localize "fabricate.CraftingSystemManagerApp.tabs.essences.tableHeadings.description"}}</th>
            <th></th>
        </tr>
        </thead>
        <tbody class="fabricate-item-table-body">
        {{#each system.essences}}
            <tr class="fabricate-item-table-row">
                <td class="fabricate-essence-preview"><i class="{{iconCode}}" data-tooltip="{{tooltip}}"></i></td>
                <td>{{name}}</td>
                <td>{{description}}</td>
                <td class="fabricate-edit-item">
                    <button type="button" data-action="editEssence" data-essence-id="{{id}}" data-tooltip="{{localize "fabricate.CraftingSystemManagerApp.tabs.essences.buttons.edit"}}">
                        <i class="fa-solid fa-pen-to-square" style="pointer-events: none"></i>
                    </button>
                    <button type="button" data-action="deleteEssence" data-essence-id="{{id}}" data-tooltip="{{localize "fabricate.CraftingSystemManagerApp.tabs.essences.buttons.delete"}}">
                        <i class="fa-solid fa-trash" style="pointer-events: none"></i>
                    </button>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>