<div class="fabricate-recipes">
    <p>
        Recipes provide characters with the ability to repeatedly craft componentIds.
    </p>
    <div class="fabricate-drop-zone fabricate-wide" data-drop-trigger="createRecipe">
        <i class="fa-solid fa-plus" style="pointer-events: none"></i> Drop an item here to create a recipe
    </div>
    <table class="fabricate-item-table">
        <thead class="fabricate-item-table-header">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Produces</th>
            <th>Consumes</th>
            <th>Catalysts</th>
            <th>Required Essences</th>
            <th></th>
        </tr>
        </thead>
        <tbody class="fabricate-item-table-body">
        {{#each system.recipes}}
            <tr class="fabricate-item-table-row">
                <td class="fabricate-item-image">
                    <img src="{{imageUrl}}">
                </td>
                <td class="fabricate-item-name">
                    {{name}}
                </td>
                <td>
                    {{#if hasResults}}
                        <div class="fabricate-options-list">
                            {{#each resultOptions.choices}}
                                <i class="fa-solid fa-passport" data-tooltip="Group ID: {{id}}"></i>
                                {{#each units}}
                                    <div class="fabricate-component-list">
                                        <div class="fabricate-component" data-tooltip="{{part.name}}">
                                            <img src="{{part.imageUrl}}">
                                            <div class="fabricate-info">
                                                <span class="fabricate-detail">{{quantity}}</span>
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                            {{/each}}
                        </div>
                    {{else}}
                        <i class="fa-solid fa-ellipsis" data-tooltip="No results"></i>
                    {{/if}}
                </td>
                <td>
                    {{#if hasIngredients}}
                        <div class="fabricate-options-list">
                            {{#each ingredientOptions.choices}}
                                <i class="fa-solid fa-passport" data-tooltip="Group ID: {{id}}"></i>
                                {{#each units}}
                                    <div class="fabricate-component-list">
                                        <div class="fabricate-component" data-tooltip="{{part.name}}">
                                            <img src="{{part.imageUrl}}">
                                            <div class="fabricate-info">
                                                <span class="fabricate-detail">{{quantity}}</span>
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                            {{/each}}
                        </div>
                    {{else}}
                        <i class="fa-solid fa-ellipsis" data-tooltip="No named ingredients"></i>
                    {{/if}}
                </td>
                <td>
                    {{#if requiresCatalysts}}
                        {{#each catalysts.units}}
                            <div class="fabricate-component-list">
                                <div class="fabricate-component" data-tooltip="{{part.name}}">
                                    <img src="{{part.imageUrl}}">
                                    <div class="fabricate-info">
                                        <span class="fabricate-detail">{{quantity}}</span>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    {{else}}
                        <i class="fa-solid fa-ellipsis" data-tooltip="No catalysts"></i>
                    {{/if}}
                </td>
                <td>
                    {{#if requiresEssences}}
                        {{#each essences}}
                        <div class="fabricate-essence-list">
                            <span class="fabricate-essence-preview">
                                {{quantity}} <i class="{{iconCode}}" data-tooltip="{{tooltip}}"></i>
                            </span>
                        </div>
                        {{/each}}
                    {{else}}
                        <i class="fa-solid fa-ellipsis" data-tooltip="No essences required"></i>
                    {{/if}}
                </td>
                <td>
                    <div class="fabricate-edit-item">
                        <button type="button" data-action="editRecipe" data-recipe-id="{{id}}" data-tooltip="Edit recipe">
                            <i class="fa-solid fa-pen-to-square" style="pointer-events: none"></i>
                        </button>
                        <button type="button" data-action="deleteRecipe" data-recipe-id="{{id}}" data-tooltip="Delete recipe">
                            <i class="fa-solid fa-trash" style="pointer-events: none"></i>
                        </button>
                    </div>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>